#iframeDiv {
    justify-content: center;
    margin: 0;
    border: 0;
}

#sidebarDiv{
    display: block;
}

#containerDiv {
    white-space: nowrap;
    width: 100%;
}

.form-control{
    width: 100%;
    margin-top: 0.5rem;
}

.picker > div > div{
    margin-top: 0.5rem;
}

.picker > div > div:nth-child(2) {
    position: fixed;
    bottom: 25vh;
    right: 50vw;
}

#mainContentContainer {
    max-height: 90vh;
    overflow-y: scroll;
    display: block;
    white-space: initial;
    margin-left: 1%;
}

th, td{
    padding: 0.5rem;
}

td input.form-control[name='facebookLink'], td input.form-control[name='instagramLink'], td input.form-control[name='messengerLink'], td input.form-control[name='whatsappLink']{
    width: 50vw;
}

.buttons{
    text-align: center;
    margin-top: 1rem;
    white-space: 2rem;
}

button[name='cancelChanges']{
    margin-right: 2rem;
}

.openbtn{
    display: none;
    border-radius: 5px;
}

@media screen and (max-width: 714px) {
    .openbtn{
        display: block;
    }

    div#sidebarDiv{
        display: none;
        width: 100%;
        margin-bottom: 2rem;
    }

    div#footerDiv{
        margin-top: 1rem;
        padding: 0;
        text-align: left;
    }

    div#mainContentContainer{
        margin: 0;
        float: none;
    }
}