#activitiesTable {
    min-width: 100%;
    table-layout: fixed;
    grid-template-columns: 1fr 3fr 1fr 4fr 1fr;
}

#activitiesTable th, #activitiesTable td {
    padding: 3px;
}

#buttonsDiv{
    margin-right: 2%;
}

#buttonsDiv button {
    margin-left: 10px;
    float: right;
}

.headerCol{
    width: 15%;
}

.timepicker{
    width: 50%;
}

.tableHeader{
    width: 100%;
}

.colElement {
    width: 15%
}

.validationError{
    color: red;
    font-size: small;
}

.googleLoginButton {
    margin: 0;
    padding: 0;
    border: 0;
}