*{
    font-size: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

body{
    background-color: aliceblue;
}

.formSection, nav{
    display: flex;
    justify-content: center;
}

input:not(#newBooking):not(#newCancelation):not(#resetFields):not(#submitCancelation), label{
    display: block;
}

fieldset{
    width: 50%;
    margin: 1% 2%;
    padding: 1%;
    background-image: linear-gradient(lightblue, pink);
    border-radius: 5px;
}

legend{
    font-size: 150%;
    font-weight: bold;
    background-color: white;
    border-radius: 5px;
    text-align: center;
}

label{
    margin: 1%;
    padding: 1%;
    font-weight: bold;
}

h1{
    text-align: center;
    font-size: 250%;
}

input#newBooking, input#newCancelation{
    margin: 0% 1%;
    padding: 1% 5px;
    font-size: 150%;
    background-color: black;
    color: white;
    border-radius: 5px;
    align-content: center;
}

input#newBooking, input#newCancelation, fieldset, input#resetFields, input#submitCancelation{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

input#newBooking:hover, input#newCancelation:hover{
    background-color: white;
    color: black;
}

input#submitCancelation{
    font-size: 125%;
    background-color: green;
    color: white;
    border-radius: 5px;
    border-style: none;
    margin: 1% 2%;
    padding: 2px 1%;
}

input#submitCancelation:hover{
    background-color: white;
    color:green;
}

input#resetFields{
    font-size: 125%;
    background-color:red;
    color: white;
    border-radius: 5px;
    border-style: none;
    margin: 1% 2%;
    padding: 2px 1%;
}

input#resetFields:hover{
    background-color: white;
    color:red;
}

input[type=text], input[type=email], input[type=tel]{
    border-radius: 1px;
}

a{
    margin: 1% 2%;
    padding: 2px 1%;
}