:root{
  --primary-color : black;
  --secondary-color: white;
}

* {
  box-sizing: border-box;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: var(--primary-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  color: white;
  margin: 0;
}
.css-b62m3t-container{
  color: black;
}

.ButtonUnstyled-root.active{
  color: white;
  background-color: var(--secondary-color);
}

.css-e53awj-MuiStack-root{
  margin: 2% 0;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}

.bookingControls{
  float: left;
  margin-left: 5%;
  width: 50vw;
}

.personControls{
  float: right;
  margin-right: 5%;
}

form{
  width: 100%;
}

.App{
  font-family: sans-serif;
  text-align: center;
}

.datePicker{
  width: 100%;
}

.personControls{
  margin-bottom: 2%;
}

.h1 {
  color: white;
  font-size: 25px;
  text-align: center;
}

.fieldInfo{
  color: var(--secondary-color);
  text-align: center;
  margin-bottom: 5%;
}

textarea, input:not(#guestPrivacy), .button{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  padding: 10px 15px;
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 14px;
}

.css-b62m3t-container{
  width: 100%;
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 14px;
}

#guestPrivacy{
  margin-right: 1%;
}

.label, section > label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: white;
  font-size: 14px;
  font-weight: 200;
}

.bookingDate, .bookingTime, .bookingGuests, .bookingActivity, .resturantTable {
  margin-left: 5%;
  margin-right: 0;
}

table{
  width: minmax(50vw, 100%);
  color: black;
  margin-bottom: 3%;
  border-style: dashed;
  border-color: white;
  border-radius: 5px;
}

th, td{
  border-style: solid;
}

span.error.person{
  margin-left: 0;
}

.guestName, .guestSurname, .guestEmail, .guestPhone, .guestAdditionalInfo, .guestPrivacy{
  margin-left: 0;
}

.button {
  position: relative;
  background: var(--secondary-color);
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 20px;
  padding: 20px;
  font-size: 16px;
  letter-spacing: 2px;
  display: block;
  appearance: none;
  border-radius: 4px;
  width: 50%;
  margin-left: 25%;
  font-weight: 400;
  letter-spacing: 0.5rem;
  transition: 0.3s all;
}

button:disabled, button[disabled]{
  opacity: 0.5;
  cursor: not-allowed;
}

.submit{
  clear: both;
}

.button:hover {
  filter: brightness(85%);
  color: white;
}

.error {
  color:red;
  font-size: 0.625em;
  display: block;
}

.privacyError{
  color:red;
  font-size: 0.625em;
  display: block;
}

.bookingDate{
  z-index: 2;
}

.bookingTime{
  z-index: 1;
}

table{
  z-index: 0;
}

.button:active {
  transition: 0.3s all;
  top: 2px;
}

.preact {
  opacity: 0;
  color: white;
}

.preact:hover {
  opacity: 1;
}

.container {
  margin: 1rem;
}

.resturantTableLabel{
  font-weight: bold;
  font-style: italic;
  color: var(--secondary-color);
}

.bookingStatus-confirmed{
  color: greenyellow;
  font-weight: bold;
  margin-bottom: 5%;
}

.bookingStatus-canceled{
  color: #cf153a;
  font-weight: bold;
  margin-bottom: 5%;
}

.bookingStatus-pending{
  color: yellow;
  font-weight: bold;
  margin-bottom: 5%;
}

.bookingStatus-yes, .bookingStatus-no, .bookingStatus-maybe, .resturantTableLabel{
  display: block;
}

.nav {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  border-radius: 5px;
}

.site-title {
  font-size: 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li.active {
  background-color: #555;
}

.nav li:hover {
  background-color: #777;
}

img{
  float: left;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #555;
}

footer{
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1% 0;
  margin: 3% 0 0 0;
  border-radius: 5px;
}

.facebook, .messenger, .instagram, .whatsapp{
  display: inline;
  margin-left: 2%;
}

#facebook-link, #instagram-link, #messenger-link, #whatsapp-link{
  color: white;
  text-decoration: none;
}

#fb-label, #instagram-label, #messenger-label, #whatsapp-label{
  display: inline;
  margin: 2px;
}

svg#logo{
  fill: var(--secondary-color);
  vertical-align: top;
  margin: 2px;
}

.additionalInfo{
  font-size: small;
}

textarea{
  resize: vertical;
}

.prenotationID, .prenotationName, .prenotationSurname, .prenotationEmail, .prenotationPhone{
  margin-left: 25%;
  margin-right: 25%;
}

@media screen and (max-width: 360px) {
  .nav a:not(.site-title), .nav{
    padding: 0;
  }

  .site-title{
    padding: 1%;
    font-size: medium;
    height: auto !important;
  }

  .additionalInfo{
    font-size: small;
  }

  .nav{
    gap: 1rem;
  }

  img{
    display: none;
  }

  .bookingControls{
    margin-left: 0;
    width: 100%;
  }

  .personControls{
    margin-right: 0;
    width: 100%;
  }

  .bookingDate, .bookingTime, .bookingGuests, .bookingActivity, .resturantTable{
    margin-left: 0;
  }

  .guestName, .guestSurname, .guestEmail, .guestPhone, .guestAdditionalInfo, .guestPrivacy{
    margin-right: 0;
  }
  form{
    margin: 0;
    width: 100%;
  }

  textarea, .select, input:not(#guestPrivacy), .button{
    width: 100%;
    margin-left: 0;
  }

  label:not(#privacyLabel), #guestPrivacy{
    margin-left: 0;
  }

  .css-b62m3t-container{
    width: 100%;
    margin-left: 0;
  }

  .error{
    margin-left: 0  
  }

  .prenotationID, .prenotationName, .prenotationSurname, .prenotationEmail, .prenotationPhone{
    margin: 0;
  }
}

@media screen and (min-width: 361px) and (max-width: 600px) {
  img{
    display: none;
  }

  .nav{
    padding: 0;
    gap: 0;
  }

  .bookingControls{
    margin-left: 0;
    width: 100%;
  }

  .personControls{
    margin-right: 0;
    width: 100%;
  }

  .bookingDate, .bookingTime, .bookingGuests, .bookingActivity, .resturantTable{
    margin-left: 0;
  }

  .guestName, .guestSurname, .guestEmail, .guestPhone, .guestAdditionalInfo, .guestPrivacy{
    margin-right: 0;
  }
  form{
    margin: 0;
    width: 100%;
  }

  textarea, .select, input:not(#guestPrivacy), .button{
    width: 100%;
    margin-left: 0;
  }

  label:not(#privacyLabel), #guestPrivacy{
    margin-left: 0;
  }

  .css-b62m3t-container{
    width: 100%;
    margin-left: 0;
  }

  .error{
    margin-left: 0  
  }

  .prenotationID, .prenotationName, .prenotationSurname, .prenotationEmail, .prenotationPhone{
    margin: 0;
  }
}


@media screen and (min-width: 601px) and (max-width: 1000px) {
  .bookingDate, .bookingTime, .bookingGuests, .bookingActivity, .resturantTable{
    margin-left: 0;
  }

  .bookingControls, .personControls{
    margin-left: 0;
    width: 100%;
  }

  .bookingControls, .personControls{
    float: none;
  }

  .guestName, .guestSurname, .guestEmail, .guestPhone, .guestAdditionalInfo, .guestPrivacy{
    margin-right: 0;
  }

  textarea, .select, input:not(#guestPrivacy), .button, .booking, .select{
    width: 100%;
  }

  label:not(#privacyLabel), .select, input, textarea, .button{
    margin-left: 0;
  }

  .error{
    margin-left: 0  
  }

  form{
    margin-left: 15%;
    width: 75%;
  }

  .css-b62m3t-container{
    width: 100%;
    margin-left: 0;
  }

  .prenotationID, .prenotationName, .prenotationSurname, .prenotationEmail, .prenotationPhone{
    margin: 0;
  }
}